html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background: rgba(255, 255, 255, 0.3);
}

.actions {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
  -webkit-app-region: none;
}

.actions img {
  width: 1.7em;
  height: 1.7em;
  cursor: pointer;
}

button {
  -webkit-user-select: none;
  -webkit-app-region: none;
  background-color: #d84a38;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  padding: 0.5em 0.7em 0.6em 0.7em;
  cursor: pointer;
  margin-right: 1em;
}

img#draggable {
  transform: rotate(90deg);
  width: 1.5em;
  height: 1.5em;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.ready {
  color: #28a745;
}
